<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Postres</display-name>
  <welcome-file-list>
    <welcome-file>p/</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AdminLoginFilter</display-name>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>Controladores.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Controladores.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/carro/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PostresController</display-name>
    <servlet-name>PostresController</servlet-name>
    <servlet-class>Controladores.PostresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostresController</servlet-name>
    <url-pattern>/p/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>Controladores.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/usuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoController</display-name>
    <servlet-name>CarritoController</servlet-name>
    <servlet-class>Controladores.CarritoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoController</servlet-name>
    <url-pattern>/carro/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoPostreController</display-name>
    <servlet-name>TipoPostreController</servlet-name>
    <servlet-class>Admin.TipoPostreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoPostreController</servlet-name>
    <url-pattern>/admin/tipo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidosController</display-name>
    <servlet-name>PedidosController</servlet-name>
    <servlet-class>Controladores.PedidosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosController</servlet-name>
    <url-pattern>/misPedidos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoController</display-name>
    <servlet-name>ProductoController</servlet-name>
    <servlet-class>Admin.ProductoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoController</servlet-name>
    <url-pattern>/admin/producto/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>Admin.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoController</display-name>
    <servlet-name>PedidoController</servlet-name>
    <servlet-class>Admin.PedidoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoController</servlet-name>
    <url-pattern>/admin/pedido/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonaController</display-name>
    <servlet-name>PersonaController</servlet-name>
    <servlet-class>Admin.PersonaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonaController</servlet-name>
    <url-pattern>/admin/persona/*</url-pattern>
  </servlet-mapping>
</web-app>